.note{
    height: 250px;
    width: 200px;
    background-color: #face67;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
}

.note p{
    display: flex;
    flex-direction: column;
}

.note img{
    width: 28px;
    height: 28px;
}


.archive_note{
    height: 200px;
    width: 180px;
    background-color: #7d9af1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
}

.archive_note p{
    display: flex;
    flex-direction: column;
}

.archive_note img{
    width: 28px;
    height: 28px;
}

.del_note{
    height: 200px;
    width: 200px;
    background-color: #cac9c6;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
}

.del_note p{
    display: flex;
    flex-direction: column;
    text-decoration: line-through;
}

.del_note img{
    width: 28px;
    height: 28px;
}

.btn_icons{
    width: 200px;
    display: flex;
    justify-content: space-around;
}